.age-container{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.522);
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    background-color: #DCE4C9;
    
}

#inputBox{
    font-size: 2rem;
    border-radius: 4px;
    border: none; 
    outline: none;
    background-color: #740938; 
    color: #fff;   
}

#btn{
    margin-top: 3rem;
    width: 10rem;
}

.ageShow{
    padding-top: 20px;
    font-size: larger;
    font-weight: 600;
    color: #740938;
}

#btn {
    background-color: #740938; 
    color: #fff;
    border: none; 
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
}

@media (max-width: 426px) {
    .age-container {
        width: 100%; 
        padding: 15px; 
        box-sizing: border-box; 
    }
}